@page
@model ContosoUniversity.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
@section Head {
    <link href="~/CSS/CSS_About.css" rel="stylesheet" />
    <script src="~/JQuery/JQuery_About.js"></script>
}

<div id="header">
    <h1> Students Body Statistics </h1>
</div>
<div id="grv">
    <table class="grid">
        <thead>
            <tr>
                <th>Enrollment Date</th>
                <th>Students</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Enrollments)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
